/*
Theme Name: Munay
Tags: one-column, two-columns, right-sidebar, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready, blog, e-commerce, portfolio
Text Domain: generic

Generic WordPress Theme © 2015-2019 GenericTools
Generic is distributed under the terms of the GNU GPL
*/
.page-id-6 .rss-inner-page-slider-1,
.page-id-6 .rss-inner-page-slider-1 div {
  max-height: 12vw;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.term-description {
  display: none;
}

.mapa {
  margin: 60px 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

button {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

.page-id-7 #content {
  width: 100%;
}

input#coupon_code {
  width: fit-content !important;
}

.coupon button {
  font-size: 14px !important;
}

.woocommerce div.product .summary p.price {
  color: #77a464 !important;
  font-weight: bold;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: right;
  width: 100% !important;
}

.wc-proceed-to-checkout a {
  background: #8027d6 !important;
}

ul#shipping_method {
  display: inline-block !important;
}

.search header h1 {
  display: none;
}

.page-id-7 #sidebar {
  display: none;
}

.lista .woocommerce ul.products li.product a img {
  height: auto !important;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #575756 !important;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

aside#sidebar .children li a {
  color: #acacac;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 2px;
}

big {
  font-size: 120%;
}

small,
sup,
sub {
  font-size: 80%;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

dd {
  margin-left: 20px;
}

kbd,
tt {
  font-family: courier;
  font-size: 12px;
}

ins {
  text-decoration: underline;
}

del,
strike,
s {
  text-decoration: line-through;
}

dt {
  font-weight: bold;
}

address,
cite,
var {
  font-style: italic;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #777;
  line-height: normal;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

* p:last-of-type,
#sidebar .widget-container:last-child {
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
}

pre,
code {
  font-family: "courier new", courier, serif;
}

hr {
  height: 1px;
  border: 0;
  margin: 30px 0;
  background: #ccc;
}

blockquote {
  padding: 15px;
  border-left: 4px solid #ccc;
  margin: 30px 0;
}

blockquote p:first-of-type {
  margin-top: 0;
}

.entry-content ul,
.widget-container ul,
.comment-body ul,
.entry-content ol,
.widget-container ol,
.comment-body ol {
  margin: 30px 0 30px 15px;
}

.entry-content ol,
.widget-container ol,
.comment-body ol {
  list-style: decimal inside;
  text-indent: -18px;
}

.entry-content ul ul,
.widget-container ul ul,
.comment-body ul ul,
.entry-content ol ol,
.widget-container ol ol,
.comment-body ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.entry-content li,
.widget-container li,
.comment-body li {
  line-height: 125%;
  margin: 10px 0;
}

input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 15px;
  border: 0;
  outline: 0;
  margin-top: 10px;
  background: #f6f6f6;
}

input[type="submit"],
#menu .toggle:hover {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

a img,
input[type="image"],
iframe {
  border: 0;
}

img,
video,
audio,
table,
select,
textarea {
  /* max-width: 100% !important; */
  height: auto;
}

table {
  width: 100%;
  margin: 30px 0;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
}

#container {
  background: #fff;
  position: relative;
}

#container:after {
  display: table;
  content: "";
  clear: both;
}

#content {
  width: 75%;
  padding-right: 5%;
  float: left;
}

#sidebar {
  width: 25%;
  float: right;
}

#footer {
  clear: both;
}

#menu ul {
  font-size: 0;
}

#menu ul,
#menu ul li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu ul li {
  padding: 0px 40px;
}

#menu ul li a {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  line-height: 33px;
  margin-top: -1px;
  letter-spacing: 3px;
}

#menu ul li a:hover {
  color: #000114;
  text-decoration: none;
}

#menu ul li.menu-item-has-children>a:after,
#menu ul li.page_item_has_children>a:after {
  font-family: serif;
  content: " ▾";
}

#menu ul li ul {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: white;
}

#menu ul li:hover ul {
  display: inline-block;
}

#menu ul ul {
  display: none;
}

#menu ul li:hover ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  padding-top: 10px;
  flex-direction: column;
  max-height: 480px;
  overflow: scroll;
}

#menu ul li ul li {
  padding: 0 5px;
}

#menu ul li:hover ul li a {
  width: 250px;
  font-size: 14px;
  color: #333;
  line-height: 20px;
  padding: 7px;
  background: #fff;
}

#menu ul li:hover ul li a:hover {
  color: #777;
}

#menu .toggle {
  display: none;
  color: #fff;
  text-align: center;
}

.add_to_cart_button.ajax_add_to_cart {
  display: none !important;
}

#menu .menu-icon {
  font-size: 60px;
}

#search {
  float: right;
}

#search .search-field {
  width: 100%;
  height: 45px;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0;
  background-color: #f1f1f1;
}

.widget-container .search-field {
  width: 100%;
}

.woocommerce-result-count {
  display: none !important;
}

.error404 .entry-content .search-field,
.search .entry-content .search-field {
  width: 200px;
  margin-top: 30px;
}

.error404 .entry-content .search-field,
.search .entry-content .search-field,
.widget-container .search-field {
  background-color: #f6f6f6;
}

/*
.search-field {
  background: url(images/icon-search.png) no-repeat 98% center / 24px auto
} */
.button,
button,
input[type="submit"] {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: 0;
  opacity: 1;
}

.button:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.8;
}

#site-title a {
  font-size: 40px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  display: inline;
}

#content {
  float: right !important;
}

.woocommerce ul.products li.product a img {
  margin: auto !important;
  width: 100%;
}

#site-title h1 {
  margin-bottom: 0;
}

.single h1.entry-title a {
  color: #777;
  text-decoration: none;
  font-size: 22px;
}

h2.entry-title,
h3.widget-title {
  margin-top: 0;
}

span.wpcf7-not-valid-tip {
  color: #000114;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: 2px solid #000114;
}

commentform label {
  display: block;
}

#commentform #comment {
  width: 100%;
  max-width: 400px !important;
  height: auto;
}

#comments .comment-author {
  line-height: 14px;
}

#comments .comment-author img {
  margin-right: 5px;
  float: left;
}

#comments .comment {
  margin: 20px 10px;
}

#comments .comment-body {
  padding: 15px;
}

#comments .odd>.comment-body {
  background: #f6f6f6;
}

#comments .comment-body>p {
  font-size: 16px;
  margin: 15px 0 0;
}

#copyright {
  text-align: center;
}

.entry-meta,
.entry-footer,
.archive-meta {
  display: none !important;
}

.entry-footer {
  clear: both;
}

.related.products {
  clear: both;
}

.related.products h2 {
  padding: 15px 0px 15px 0px;
}

#copyright,
#copyright a,
.entry-meta,
.entry-meta a,
.entry-footer,
.entry-footer a,
.comment-meta,
.comment-meta a,
.comment-author,
.comment-author a {
  font-size: 14px;
  color: #aaa;
}

.sticky {
  padding-bottom: 60px;
  border-bottom: 4px solid #ccc;
}

.post,
.widget-container,
.search article {
  margin-bottom: 60px;
}

.post:last-of-type {
  margin-bottom: 0;
}

.wp-caption {
  width: auto !important;
}

.wp-caption.aligncenter,
.wp-caption-text,
.gallery-caption {
  text-align: center;
}

.alignleft {
  margin: 0 30px 30px 0;
  float: left;
}

.alignright {
  margin: 0 0 30px 30px;
  float: right;
}

.aligncenter {
  display: block;
  margin: 30px auto;
  clear: both;
}

.wp-post-image {
  display: block;
  margin-bottom: 30px;
}

.entry-attachment img {
  display: block;
  margin: 60px auto 30px;
}

.attachment .entry-caption {
  text-align: center;
}

.nav-links {
  margin-top: 30px;
}

.nav-links a .meta-nav {
  color: #8027d6;
  font-weight: bold;
}

.nav-links a,
#nav-above a {
  text-decoration: none;
}

.header-item-info {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

#nav-above a {
  display: block;
  font-family: tahoma, sans-serif;
  font-size: 50px;
  color: #777;
  line-height: 0;
  margin: 30px 0 15px;
}

.nav-previous {
  text-align: left;
  float: left;
}

.nav-next {
  text-align: right;
  float: right;
}

.note {
  display: block;
  font-size: 14px;
  padding: 20px;
  margin: 30px 0;
}

.blue,
.blue *,
.blue-dark,
.blue-dark *,
.green,
.green *,
.green-dark,
.green-dark *,
.orange,
.orange *,
.purple,
.purple *,
.red,
.red *,
.black,
.black * {
  color: #fff;
}

.white,
.white *,
.yellow,
.yellow * {
  color: #000;
}

.white {
  background-color: #fff !important;
}

.blue {
  background-color: #09f !important;
}

.blue-dark {
  background-color: #1c78b5 !important;
}

.green {
  background-color: #91da29 !important;
}

.green-dark {
  background-color: #5d8c1a !important;
}

.orange {
  background-color: #f98733 !important;
}

.purple {
  background-color: #bb6cf8 !important;
}

.red {
  background-color: #ef645d !important;
}

.yellow {
  background-color: #f8f658 !important;
}

.black {
  background-color: #4a4a45 !important;
}

.lighter {
  background-color: rgba(255, 255, 255, 0.05);
}

.darker {
  background-color: rgba(0, 0, 0, 0.05);
}

.box,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-1-3,
.box-2-3 {
  display: inline-block;
  width: 100%;
  padding: 5%;
  vertical-align: top;
}

.box-2 {
  width: 50%;
}

.box-3,
.box-1-3 {
  width: 33.3333333%;
}

.box-4 {
  width: 25%;
}

.box-5 {
  width: 20%;
}

.box-6 {
  width: 16.6666667%;
}

ul.menu>li>ul.sub-menu>li {
  display: block;
  text-align: left;
}

.box-2-3 {
  width: 66.6666666%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-float:after,
.boxes:after {
  display: table;
  content: "";
  clear: both;
}

@media (max-width: 1024px) {

  .box-5,
  .box-6 {
    width: 25%;
  }

  .boxes .box-5:nth-child(5) {
    width: 100%;
  }

  .boxes .box-6:nth-child(5),
  .boxes .box-6:nth-child(6) {
    width: 50%;
  }
}

@media (max-width: 768px) {

  #header,
  #footer {
    text-align: center;
  }

  .entry-content #search .search-field {
    width: 100% !important;
  }

  .entry-content #search label {
    width: 100% !important;
  }

  .page-info {
    width: 100% !important;
    margin: auto;
    margin-bottom: 40px !important;
  }

  .form-contacto {
    width: 100% !important;
  }

  .form-contacto p {
    width: 80% !important;
    font-size: 16px !important;
  }

  .form-contacto p .wpcf7-submit {
    justify-content: center !important;
  }

  .entry-content div#search {
    width: 65% !important;
  }

  .entry-content form.woocommerce-ordering {
    width: 100% !important;
    text-align: center !important;
  }

  .toggle-btn {
    cursor: pointer;
    display: flex;
    width: fit-content;
    float: left;
    background: #8027d6 !important;
    position: absolute;
    color: white;
    padding: 7px;
    left: 0px;
  }

  div#primary {
    padding-top: 1em;
  }

  #content,
  #sidebar {
    width: 100%;
    padding: 0;
  }

  #search {
    float: none;
  }

  #search .search-field {
    width: 60%;
  }

  #search form {
    margin-top: 30px;
  }

  #menu.checked {
    width: 100%;
    height: 100%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
  }

  #menu label.toggle {
    display: block;
    background: #8027d6;
  }

  #menu ul,
  #menu ul ul {
    display: none;
  }

  #menu input.toggle:checked+div>ul,
  #menu input.toggle:checked+div>ul ul {
    display: block;
    position: relative;
    top: 0;
    padding: 0;
    background: #8027d6;
  }

  #menu input.toggle:checked+div>ul {
    padding-bottom: 10px;
  }

  #menu input.toggle:checked+div>ul li a,
  #menu input.toggle:checked+div>ul ul li a {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding: 4px 10px;
    border: 0;
    margin: 0;
    background: none;
  }

  #menu input.toggle:checked+div>ul ul li a {
    color: #ccc;
  }

  .box-4,
  .box-5,
  .box-6 {
    width: 50%;
  }
}

@media (max-width: 767px) {

  .single .nav-links .nav-previous,
  .single .nav-links .nav-next {
    float: none;
  }

  .box-3 {
    width: 50%;
  }

  .boxes .box-3:nth-child(3) {
    width: 100%;
  }
}

@media (max-width: 480px) {

  .wp-caption,
  input,
  textarea,
  .button {
    width: 100% !important;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: auto !important;
  }

  .box-2,
  .box-3,
  .box-4,
  .box-5,
  .box-6,
  .boxes .box-6:nth-child(5),
  .boxes .box-6:nth-child(6),
  .box-2-3,
  .box-1-3 {
    width: 100%;
  }
}

@media print {
  #content {
    width: 100%;
    color: #000;
    padding: 0;
    margin: 0;
    background: #fff;
    float: none;
  }

  #header,
  #sidebar,
  #footer {
    display: none;
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* .form-allowed-tags, .search-submit {
  display: none !important
} */
/*********MENU MEDIO-INFO ARRIBA***********/
div#branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.estrecho {
  width: 85% !important;
  margin: auto !important;
}

nav#menu {
  text-align: center;
}

nav#menu .menu-menu-1-container {
  background: #8027d6;
  position: relative;
}

@media screen and (min-width:768px) {
  nav#menu #search {
    display: none;
  }
}

.info-header .item:last-child p {
  width: 245px;
}

.info-header .item {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-wrap: wrap;
}

.info-header {
  text-align: right;
}

p {
  font-family: "Lato", sans-serif !important;
}

.form-contacto p .wpcf7-submit {
  background: white !important;
  text-align: center;
  margin: auto;
  display: flex;
  font-family: "Lato", sans-serif !important;
  color: #8027d4;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 10px 65px;
}

.redes-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}

#branding {
  padding: 30px 0px !important;
}

.home .rss-banner-title {
  letter-spacing: 5px;
  font-weight: 700 !important;
  font-size: 34px !important;
}

.home .rss-banner-description span {
  font-weight: 500;
}

.home .rss-banner-description {
  width: 250px;
  font-size: 21px !important;
  float: right;
  font-family: "Lato", sans-serif !important;
  text-align: right;
  font-weight: lighter;
  letter-spacing: 3px;
}

.home .rss-banner-caption {
  margin-right: 10%;
  margin-top: 70px;
}

.item {
  padding-bottom: 10px;
}

.item a {
  color: #adadad;
}

.item p {
  font-size: 14px;
  padding-right: 10px;
  color: #adadad;
}

.nosotros-inicio,
.nosotros-page {
  background: #f1f1f1;
  width: 80% !important;
  margin-top: 80px !important;
  position: relative;
  padding-bottom: 60px;
}

.nosotros-inicio .datos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page article.page .entry-content img {
  max-width: 90%;
}

.info-nosotros h3 {
  color: #8027d7;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 3px;
}

.datos .img img,
.nosotros-page .img img {
  width: 330px;
  height: 100% !important;
}

.datos .info-nosotros,
.nosotros-page .info-nosotros {
  width: 600px;
  text-align: justify;
  padding-left: 20px !important;
  text-indent: 20px;
}

.nosotros-inicio .datos,
.nosotros-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
}

.nosotros-inicio .cristal-1 {
  left: -75px;
  bottom: -30px;
}

.nosotros-inicio .cristal-1,
.nosotros-inicio .cristal-2 {
  position: absolute;
}

.nosotros-inicio .cristal-2 {
  right: -90px;
  bottom: -50px;
}

section.nuestros-productos {
  padding: 20px 0px 40px 0px !important;
}

h3,
h2 {
  width: 100%;
  padding: 70px 0px 50px 0px;
  color: #8027d7;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 3px;
}

#search {
  margin: auto !important;
  text-align: center;
  width: 80%;
}

section.nuestros-productos #search {
  margin: auto !important;
  text-align: center;
  width: 50%;
  margin-bottom: 70px !important;
  float: none !important;
}

.nuestros-productos .section-title,
.nosotros-inicio h3 {
  text-align: center;
}

#search form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px !important;
  position: relative;
}

.entry-content #search form {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px !important;
  position: relative;
  margin: auto;
}

.search-form label {
  width: 100%;
}

.entry-content input.search-submit {
  background-image: url(/wp-content/uploads/2019/10/icon-search.png);
  width: 45px !important;
  height: 45px;
  color: transparent;
  top: 0px;
  position: absolute;
  right: 0px;
  margin: 0px !important;
}

/* div#search form::before {
  content: " " !important;
  position: absolute;
  top: 0px;
  right: -55px;
  line-height: 1;
  background-image: url(/wp-content/uploads/2019/10/icon-search.png);
  width: 45px;
  height: 45px;
  z-index: 999;
} */
.page-template-front-page div#search form::before {
  display: none;
}

.buscar-page {
  padding: 0px;
  height: 45px !important;
  margin-left: 15px;
  position: absolute;
  right: 0px;
}

p.type-precio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nuestros-productos .woocommerce ul li {
  width: 270px !important;
  display: flex;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 70px !important;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link {
  text-decoration: none;
  width: 300px;
}

.nuestros-productos .woocommerce ul li a,
.entry-content ul li a {
  width: 100%;
}

.nuestros-productos .woocommerce .products,
.entry-content ul {
  margin: auto !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tax-mineral h1.entry-title {
  color: #8027d6;
  font-family: "Lato", sans-serif !important;
  text-align: center;
  padding-top: 50px;
}

.tax-mineral header.header {
  width: 100%;
}

main#content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.tax-mineral article a,
.single-product article a {
  color: #8027d6;
  font-size: 12px;
}

.woocommerce-tabs.wc-tabs-wrapper ul {
  justify-content: end !important;
}

section.related ul li {
  width: 200px !important;
  height: auto !important;
}

article h2 a,
article h1 a {
  color: #8027d7 !important;
}

.tax-mineral article h2,
.single-product article h1 {
  padding-bottom: 15px;
  padding-top: 30px;
}

.entry-content ul.products li.product {
  width: 260px;
  display: flex;
  margin: 3px !important;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px !important;
}

.entry-content .products li h2 {
  text-align: left !important;
  font-size: 15px;
}

.woocommerce ul.products li.product a img {
  margin: 0px !important;
}

.entry-content ul {
  text-indent: 0px !important;
}

.entry-content .type-precio {
  display: inherit !important;
}

.single-product article .wc-tab h2 {
  padding: 20px !important;
}

.single-product div#comments h3 {
  padding: 10px 0px !important;
}

.woocommerce .quantity .qty {
  width: 75px !important;
}

.container-contacto {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 60px;
}

.entry-content .type-precio {
  display: flex !important;
}

.page-info h3,
.page-info h4 {
  color: #8027d7 !important;
  font-weight: 400 !important;
  padding: 0px;
}

.page-info h3 {
  font-size: 28px;
  font-weight: 500 !important;
  padding: 20px 0px;
}

.form-contacto {
  background: #8027d4;
  padding: 0px 30px;
  color: white !important;
  width: 650px;
  margin: auto !important;
}

.page-info p {
  font-size: 18px;
  color: #a3a2a2;
  font-weight: 400;
  padding-bottom: 30px;
}

.page-info {
  width: 350px;
  margin-right: 53px !important;
  margin-left: 53px;
}

p.type-precio .price .amount {
  color: #575756 !important;
  font-size: 15px !important;
  padding-left: 10px !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600 !important;
}

.product header {
  width: 100%;
}

.product {
  padding: 0 10px;
}

.woocommerce ul.products .product {
  margin: 10px !important;
}

.single-product main#content {
  display: inline-block;
}

.single-product article li {
  margin-bottom: 0px !important;
}

.entry-content .tabs li {
  margin: 0 !important;
}

.woocommerce ul.products li.product .price {
  margin-bottom: 0px !important;
  font-size: 20px !important;
  position: relative;
}

.woocommerce div.product form.cart .button {
  margin-top: 14px;
  background-color: #8027d6;
}

.single-product .woocommerce table.shop_attributes th {
  width: 150px;
  font-weight: 700;
  padding: 8px;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5;
}

div#comments,
.single-product .entry-footer {
  display: none;
}

p.type-precio {
  font-size: 15px !important;
  display: flex;
  font-weight: 600 !important;
  align-items: center;
  flex-wrap: wrap;
  color: #575756 !important;
  letter-spacing: 2px;
  padding-top: 10px;
}

.nuestros-productos .add_to_cart_button {
  display: none !important;
}

.woocommerce ul.products li.product .price {
  margin-bottom: 0px !important;
  font-size: 20px !important;
}

#copyright {
  width: 100%;
  background: white !important;
  padding: 10px;
}

footer#footer {
  margin-top: 30px;
  background: #f1f1f1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 40px;
}

footer#footer h3 {
  padding: 15px 0px;
  font-size: 15px;
}

footer p {
  padding-bottom: 5px;
  letter-spacing: 2px;
  color: #6f6f6e !important;
}

footer a {
  color: #6f6f6e !important;
}

img.logo-inoloop {
  position: absolute;
  right: 0px;
  bottom: 50px;
}

/*********NOSOTROS***********/
.page-template-nosotros .rss-banner-title {
  padding-top: 40px;
}

.nosotros-page {
  background: none !important;
}

.page-template-nosotros .info-nosotros h3 {
  padding-top: 0px;
  letter-spacing: 5px;
  padding-bottom: 40px;
}

.page-template-nosotros .info-nosotros {
  position: relative;
}

img.nosotros-cristal {
  position: absolute;
  top: 0px;
  right: 100px;
  width: 110px;
}

.list-category .woocommerce .products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.list-category .woocommerce .products li {
  width: 220px !important;
  margin: 0px 30px !important;
}

.list-category {
  margin-bottom: 8em;
}

.list-category .lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

img.cristal-cat {
  display: none !important;
}

.list-category .woocommerce .products h2 {
  text-align: center;
  font-size: 14px !important;
  padding-bottom: 0px !important;
}

.list-category .woocommerce .products h2 .count {
  display: none;
}

.categorias-nosotros h3 {
  text-align: center;
}

.link-shop p a {
  color: #acacac;
  padding-left: 10px;
  padding-right: 10px;
}

#sidebar {
  width: 25%;
  padding-right: 4em;
}

#content {
  width: 70%;
  padding-right: 5%;
  float: left;
}

.link-shop {
  padding: 20px 20px 20px 20px;
  border-bottom: 2px solid #f0f0f0;
  margin: 0px 5em 0px 4em;
}

div#primary {
  padding-top: 3em;
}

#sidebar ul.product-categories {
  position: relative;
  text-indent: 0px !important;
  margin: 20px 15px 10px 0px;
  max-height: 70vh;
  overflow-y: scroll;
  font-size: 14px !important;
  white-space: nowrap;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.tienda-info select {
  padding: 15px 20px;
  background: #f0f0f0;
  border: none;
  font-size: 17px;
  color: #8e8e8e;
}

ul.page-numbers li {
  width: fit-content !important;
}

ul.page-numbers {
  border: none !important;
}

.search .entry-summary img {
  width: 190px;
}

div#primary .filtro {
  font-size: 15px;
  padding: 20px;
}

.products h2 {
  letter-spacing: 0;
}

.wpfCheckboxHier {
  margin-right: 15px !important;
}

.tienda-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.woocommerce-page .entry-content {
  padding-top: 50px;
}

ul.wpfFilterVerScroll {
  padding-left: 30px !important;
  margin-top: 20px !important;
}

#sidebar ul.product-categories li {
  margin: 0px !important;
}

aside#sidebar .widget-container {
  margin-bottom: 15px;
}

.wpfFilterWrapper {
  padding: 0px !important;
}

.search-results header.header {
  width: 100%;
  text-align: center;
}

#primary .wfpDescription:before,
#primary h3:before {
  position: absolute;
  content: " ";
  background: #8027d6;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  left: 16px;
  top: 22px;
}

#primary .wfpDescription,
#primary h3 {
  color: #818180 !important;
  padding: 15px 20px 15px 30px !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
  font-family: "Lato", sans-serif !important;
  border: 2px solid #f0f0f0;
  position: relative;
}

ul.wpfFilterVerScroll {
  padding-left: 30px !important;
  margin: 20px 10px 10px 0px;
}

.wpfCheckboxHier span.woocommerce-Price-currencySymbol {
  position: relative;
  float: initial !important;
  right: 0px !important;
}

.wpfFilterWrapper input[type="checkbox"] {
  margin: 0px !important;
  margin-right: 10px !important;
}

ul.wpfFilterVerScroll li span input {
  width: 13px !important;
  height: 15px !important;
  border-radius: 0px !important;
}

ul.wpfFilterVerScroll li label .wpfCheckbox input:checked {
  background-color: #d4d4d4 !important;
  background-image: none !important;
}

ul.info-mineral li a:before {
  position: absolute;
  content: "-";
  left: 30px;
}

ul.info-mineral {
  position: relative;
  margin: 20px 15px 10px 0px;
  padding-left: 60px !important;
  border-right: 8px solid #f0f0f0;
}

aside#sidebar li a {
  color: #656465;
  font-family: "Lato", sans-serif !important;
}

ul.info-mineral li a {
  text-transform: uppercase !important;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.datos-page p {
  padding-bottom: 0px;
}

.form-contacto p {
  font-size: 18px;
  color: white;
  font-weight: 300;
  padding-bottom: 30px;
  margin: auto;
  width: 400px;
  letter-spacing: 2px;
  text-align: center;
}

.form-contacto form p {
  text-align: left;
}

.form-contacto form .wpcf7-form-control-wrap input,
.form-contacto form .wpcf7-form-control-wrap textarea {
  background: none !important;
  border-bottom: 2px solid white;
  width: 100%;
  padding: 0px !important;
  font-size: 16px;
  color: white;
  margin-bottom: 12px;
}

.form-contacto form input::placeholder {
  opacity: 1;
}

.form-contacto form textarea::placeholder {
  opacity: 1;
}

.form-contacto label {
  padding-left: 10px;
}

.datos-page h4 {
  font-weight: 500 !important;
  padding-bottom: 15px;
  padding-top: 25px;
}

.datos-page {
  margin-top: 20px;
}

.form-contacto h3 {
  color: white;
  text-align: center;
  font-size: 27px;
  font-weight: 400;
}

.form-contacto .your-message textarea {
  height: 60px !important;
}

@media (min-width: 1500px) {
  .nuestros-productos .woocommerce ul li {
    width: 350px !important;
  }
}

@media (max-width: 1300px) {
  img.nosotros-cristal {
    width: 50px !important;
    position: absolute;
    top: 50px;
    right: 90px;
    width: 110px;
  }

  img.cristal-cat {
    width: 140px;
    position: absolute;
    left: -2em;
  }
}

@media (min-width: 1001px) {
  .toggle-btn {
    display: none;
  }
}

@media (max-width: 1000px) {
  .estrecho {
    width: 95% !important;
    margin: auto !important;
  }

  #content {
    width: 100%;
    padding-right: 0% !important;
    float: left;
  }

  .toggle-btn {
    display: flex;
    width: 35px;
    float: left;
    background: #8027d6 !important;
    position: absolute;
    color: white;
    padding: 7px;
    left: 0px;
    top: 10px;
    z-index: 9999999999 !important;
  }

  #primary.active {
    left: 0px !important;
  }

  div#primary {
    padding-top: 1em;
  }

  #primary {
    width: 55% !important;
    padding: 10px;
    background: #efeff0 !important;
    margin-top: 30px !important;
    position: absolute;
    height: auto;
    left: -55%;
    top: 1em;
    z-index: 999;
    transition: all 500ms linear;
  }

  .info-nosotros img {
    display: none;
  }
}

@media (max-width: 1300px) and (min-width: 1000px) {

  .nosotros-inicio .cristal-1,
  .nosotros-inicio .cristal-2 {
    position: absolute;
    width: 120px;
  }

  .page-info {
    width: 250px;
  }

  .form-contacto {
    width: 500px;
  }

  #sidebar {
    width: 26%;
    padding-right: 0em;
  }

  .header-item-info {
    display: flex;
    justify-content: space-between;
    width: 65%;
  }

  .nosotros-inicio .cristal-1 {
    left: -15px;
    bottom: -15px;
  }

  .nosotros-inicio .cristal-2 {
    right: -45px;
    bottom: -35px;
  }

  .datos .info-nosotros,
  .nosotros-page .info-nosotros {
    width: 500px;
    text-align: justify;
    padding-left: 0px !important;
  }

  .datos .img img,
  .nosotros-page .img img {
    width: 250px;
    height: 100% !important;
  }

  .home .rss-inner-slider-item {
    background-position: 70% !important;
  }

  .nosotros-inicio .datos,
  .nosotros-page {
    width: 100%;
  }

  .nosotros-inicio,
  .nosotros-page {
    width: 90% !important;
  }

  .home .centerright .rss-banner-caption {
    top: 40%;
  }

  .home .rss-banner-caption {
    margin-right: 3%;
    margin-top: 7%;
  }
}

@media (max-width: 999px) and (min-width: 769px) {
  .nosotros-inicio .cristal-2 {
    right: -10px;
    bottom: -50px;
    width: 100px;
  }

  .woocommerce ul.products li.product .woocommerce-loop-product__link {
    text-decoration: none;
    width: 100% !important;
    height: auto !important;
  }

  .list-category .woocommerce .products {
    margin-left: 0px !important;
  }

  .page-info p {
    font-size: 16px;
  }

  .page-info {
    width: 80%;
    margin: auto;
    margin-bottom: 40px !important;
  }

  .form-contacto {
    width: 80% !important;
  }

  img.cristal-cat {
    width: 100px !important;
    left: 0em !important;
  }

  .list-category .woocommerce .products li {
    width: 150px !important;
    margin: 0px 30px !important;
  }

  .info-nosotros h3 {
    padding-top: 20px !important;
    text-align: center;
  }

  .nosotros-inicio.estrecho,
  .nosotros-page.estrecho {
    margin-top: 40px !important;
  }

  .header-item-info {
    display: flex;
    justify-content: space-between;
    width: 67%;
    align-items: center;
  }

  .nosotros-inicio .cristal-1 {
    left: -16px;
    bottom: -15px;
    width: 90px;
  }

  .datos .img img,
  .nosotros-page .img img {
    width: 250px;
    height: 100% !important;
  }

  .datos .info-nosotros,
  .nosotros-page .info-nosotros {
    width: 400px;
    text-align: justify;
    padding-left: 20px !important;
  }

  .nuestros-productos .woocommerce ul li {
    width: 200px !important;
  }

  .woocommerce ul.products li.product a img {
    width: 100%;
    height: auto !important;
  }

  .nuestros-productos ul li h2 {
    font-size: 14px !important;
    width: fit-content;
  }
}

@media (max-width: 768px) and (min-width: 300px) {

  .nosotros-inicio .datos,
  .nosotros-page {
    display: inline-block;
  }

  .nosotros-page.estrecho {
    display: inline-block;
    margin: auto !important;
    text-align: center;
    width: 100% !important;
  }

  .woocommerce ul.products li.product .woocommerce-loop-product__link {
    text-decoration: none;
    width: 100% !important;
    height: auto !important;
  }

  .list-category .woocommerce .products {
    margin-left: 0px !important;
    margin-top: 30px;
  }

  img.cristal-cat {
    width: 80px;
    position: absolute;
    left: -8px;
  }

  .list-category .woocommerce .products li {
    width: 150px !important;
    margin: 0px 15px !important;
  }

  .nuestros-productos .woocommerce ul li {
    width: 200px !important;
  }

  .nuestros-productos ul li h2 {
    font-size: 14px !important;
    width: fit-content;
  }

  .datos .img img,
  .nosotros-page .img img {
    width: 50%;
    padding: 20px;
    margin: auto;
    text-align: center;
  }

  .datos .info-nosotros,
  .nosotros-page .info-nosotros {
    width: 90%;
    text-align: justify;
    margin: auto;
  }

  h3,
  h2 {
    width: 100%;
    padding: 50px 0px 10px 0px;
  }

  .nosotros-inicio,
  .nosotros-page {
    text-align: center;
    margin-top: 30px !important;
  }

  .nosotros-inicio .cristal-1 {
    left: -10px;
    bottom: -10px;
    width: 70px;
  }

  .nosotros-inicio .cristal-2 {
    right: -10px;
    bottom: -10px;
    width: 80px;
  }

  .redes-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
  }

  #menu .menu-text {
    font-size: 16px;
    letter-spacing: 3px;
  }

  #menu .menu-icon {
    font-size: 20px;
  }

  #menu ul li {
    padding: 0px !important;
  }

  footer#footer {
    padding: 20px 0px;
  }

  .logo-footer img {
    width: 120px;
  }

  .info-header .item p {
    width: 200px !important;
  }

  .logo-header a img {
    width: 150px;
  }

  #branding {
    padding: 20px 0px !important;
  }

  .home .rss-inner-page-slider-1 .rss-inner-slider-item {
    background-position: 80% !important;
  }

  .home .rss-inner-slider-sec .rss-banner-caption {
    max-width: 100%;
  }

  .home .rss-banner-title {
    text-align: right;
    font-size: 24px !important;
  }

  .home .rss-banner-description {
    width: 285px;
    font-size: 17px !important;
  }

  footer p {
    font-size: 13px;
  }

  .info-header {
    display: none;
  }

  .header-item-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 30px;
  }

  .woocommerce ul.products li.product a img {
    width: 100%;
    height: auto !important;
  }
}

@media (max-width: 600px) {

  .datos .info-nosotros,
  .nosotros-page .info-nosotros {
    width: 90%;
    padding-left: 0px !important;
    text-align: justify;
    margin: auto;
  }

  .nuestros-productos #search .search-field {
    width: 100% !important;
    font-size: 12px;
  }

  .list-category .woocommerce .products {
    display: inline-grid;
  }

  .woocommerce ul.products li.product a img {
    width: 100%;
    height: auto !important;
  }

  .woocommerce ul.products li.product .woocommerce-loop-product__link {
    text-decoration: none;
    width: 100% !important;
    height: auto !important;
  }

  .list-category .woocommerce .products h2 {
    color: #000114;
    font-size: 17px !important;
    padding-bottom: 30px !important;
  }

  img.cristal-cat {
    display: none;
  }

  .info-nosotros p {
    font-size: 13px;
  }

  #search .search-field {
    font-size: 12px;
  }

  .nuestros-productos .woocommerce ul li {
    width: 150px !important;
  }

  .nuestros-productos ul li h2 {
    font-size: 12px !important;
    width: fit-content;
  }

  footer#footer {
    display: inherit !important;
  }

  .logo-footer img {
    width: 150px;
  }

  .contacto-footer,
  .servicio-footer {
    padding-top: 20px;
  }

  .home .rss-inner-page-slider-1 .slick-list {
    height: 450px !important;
  }

  .home .rss-inner-page-slider-1 {
    margin: 0 auto;
    height: 450px !important;
  }

  .home .rss-inner-page-slider-1 .rss-inner-slider-item {
    background-position: 55% !important;
    height: 450px !important;
  }

  .home .rss-banner-title {
    text-align: center;
    font-size: 18px !important;
  }

  .home .rss-inner-slider-sec .rss-banner-caption {
    max-width: 100%;
    margin: auto !important;
    text-align: center !important;
    position: relative;
  }

  .home .rss-banner-description {
    width: 100%;
    font-size: 15px !important;
    text-align: center;
  }

  .home .rss-inner-slider-sec .rss-banner-caption {
    top: 78%;
  }

  .entry-content .products li h2 {
    font-size: 14px !important;
  }

  body.woocommerce ul.products li.product .price {
    font-size: 15px !important;
  }

  #menu input.toggle:checked+div>ul li a,
  #menu input.toggle:checked+div>ul ul li a {
    letter-spacing: 0 !important;
    padding: 0 10px !important;
  }

  .woocommerce-product-details__short-description {
    font-size: 13px;
  }
}